.container {
  padding: 2.4rem 1.6rem;
}

@media (min-width: 768px) {
  .container {
    padding: 2.4rem;
    max-width: 70.4rem;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 4rem;
    max-width: 117rem;
  }
}
