.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 4rem;
}

.filters h1 {
  color: var(--text-main);
  font-size: 3.4rem;
}

.filters__buttons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.filters__button {
  color: var(--text-main);
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--bg-status);
  border: 1px solid var(--border-status);
  border-radius: 999px;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

.filters__button.active {
  color: var(--text-status-active);
  background-color: var(--bg-status-active);
  border-color: var(--border-status-active);
}

.filters__button:focus-visible {
  border: none;
  outline-offset: 0.2rem;
  outline: 2px solid var(--outline-color);
  border-radius: 999px;
}

.filters__button:not(.active):hover {
  color: var(--text-status-hover);
  background-color: var(--bg-status-hover);
  border-color: var(--border-status-hover);
}

@media (min-width: 768px) {
  .filters {
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    margin-bottom: 3.2rem;
  }
}
