/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */

:root {
  --color-neutral-900: #09153e;
  --color-neutral-800: #212636;
  --color-neutral-700: #2f364b;
  --color-neutral-600: #545969;
  --color-neutral-300: #c7c7c7;
  --color-neutral-200: #d6e2f5;
  --color-neutral-100: #ededed;
  --color-neutral-0: #fbfdfe;

  --color-red-400: #f25c54;
  --color-red-500: #de473f;
  --color-red-700: #c7221a;

  --outline-color: var(--color-red-400);
  --font-family: "Noto Sans", sans-serif;
}

[data-theme="light"] {
  --text-main: var(--color-neutral-900);
  --text-secondary: var(--color-neutral-600);

  --bg-main: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --bg-content: var(--color-neutral-0);
  --border-content: var(--color-neutral-200);

  --bg-toggle: var(--color-neutral-100);
  --bg-toggle-hover: var(--color-neutral-300);

  --text-status: var(--color-neutral-900);
  --bg-status: var(--color-neutral-0);
  --border-status: var(--color-neutral-200);

  --text-status-hover: var(--color-neutral-900);
  --bg-status-hover: var(--color-neutral-0);
  --border-status-hover: var(--color-neutral-200);

  --text-status-active: var(--color-neutral-0);
  --bg-status-active: var(--color-red-700);
  --border-status-active: var(--color-red-700);

  --text-remove: var(--color-neutral-900);
  --border-remove: var(--color-neutral-300);

  --text-remove-hover: var(--color-neutral-0);
  --bg-remove-hover: var(--color-red-700);
  --border-remove-hover: var(--color-red-700);

  --bg-switch: var(--color-neutral-300);
  --bg-switch-circle: var(--color-neutral-0);

  --bg-switch-active: var(--color-red-700);
}

[data-theme="dark"] {
  --text-main: var(--color-neutral-0);
  --text-secondary: var(--color-neutral-300);

  --bg-main: linear-gradient(180deg, #040918 0%, #091540 100%);
  --bg-content: var(--color-neutral-800);
  --border-content: var(--color-neutral-600);

  --bg-toggle: var(--color-neutral-700);
  --bg-toggle-hover: var(--color-neutral-600);

  --text-status: var(--color-neutral-0);
  --bg-status: var(--color-neutral-700);
  --border-status: var(--color-neutral-600);

  --text-status-hover: var(--color-neutral-0);
  --bg-status-hover: var(--color-neutral-600);
  --border-status-hover: var(--color-neutral-600);

  --text-status-active: var(--color-neutral-900);
  --bg-status-active: var(--color-red-500);
  --border-status-active: var(--color-red-500);

  --text-remove: var(--color-neutral-0);
  --bg-remove: var(--color-neutral-600);
  --border-remove: var(--color-neutral-600);

  --text-remove-hover: var(--color-neutral-900);
  --bg-remove-hover: var(--color-red-400);
  --border-remove-hover: var(--color-red-400);

  --bg-switch: var(--color-neutral-600);
  --bg-switch-circle: var(--color-neutral-0);

  --bg-switch-active: var(--color-red-400);
}

/* Global */

html {
  font-size: 62.5%;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text-main);
  font-family: var(--font-family);
}

.app[data-theme] {
  background: var(--bg-main);
  min-height: 100vh;
  width: 100%;
}
